body {
    background: red;
    font-family: arial, helvetica, sans-serif;
}

#container {
    background: yellow;
    color: darkblue;
    width: 1000px;
    min-height: 500px;
    margin: 5px auto;
    border: 5px solid dark blue;
    border-radius: 15px;
    padding: 10px;
}

header {
    text-align: center;
}

main {
    min-height: 400px;
    text-align: center;
}

footer {
    padding: 10px;
}